<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="scripts/angular.js"></script>
    <script src="scripts/app.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCrtl" ng-init="mySwitch=true, count=0">

    <h1>Data Two-Way Binding and Controller</h1>

    {{ 2 + 5 }} <br />

    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>

    <h4>{{ firstName }}</h4>
    <h4>{{ lastName }}</h4>
    <h4>{{ firstName + " " + lastName }}</h4>

    <h1>Directives</h1>
    
    <test-Direct></test-Direct>

    <h1>Controller Events</h1>
    <h3 ng-click="changeName()">{{firstName}} (do click here)</h3>

    <h1>Controller Methods</h1>
    <h3>{{ fullName() }}</h3>

    <h1>Iterations (ng-repeat)</h1>
    <ul>
        <li ng-repeat="x in names">
            {{ x.name + ", " + x.country }}
        </li>
    </ul>

    <h1>Filters</h1>

<!--
    FILTROS POR DEFECTO

    currency -> Format a number to a currency format.
    date -> Format a date to a specified format.
    filter -> Select a subset of items from an array.
    json -> Format an object to a JSON string.
    limitTo -> Limits an array/string, into a specified number of elements/characters.
    lowercase -> Format a string to lower case.
    number -> Format a number to a string.
    orderBy -> Orders an array by an expression.
    uppercase -> Format a string to upper case.
-->

    <h4>{{ firstName + " " + lastName | uppercase }}</h4>
    <h4>{{ firstName + " " + lastName | lowercase }}</h4>
    
    <h2>Sorted by orderBy (country)</h2>
    <ul>
        <li ng-repeat="x in names | orderBy:'country'">
            {{ x.name + " " + x.country }}
        </li>
    </ul>

    <h2>Filtered by Filter and ordered by name</h2>
    <ul>
        <li ng-repeat="x in names | filter: 'a' | orderBy: 'name'"> <!-- Muestra todos los que contengan una i -->
            {{ x.name + " " + x.country }}
        </li>
    </ul>

    <h2>Filter based on user input</h2>
    <input type="text" ng-model="test" autofocus>
    <ul>
        <li ng-repeat="x in names | filter : test">
            {{ x.name + " " + x.country }}
        </li>
    </ul>

    <h2>Sorting elements by clicking on the column head (name or country)</h2>
    <table border="1" width="50%">
        <tr>
            <th ng-click="orderByMe('name')">Name</th>
            <th ng-click="orderByMe('country')">Country</th>
        </tr>
        <tr ng-repeat="x in names | orderBy:myOrderBy">
            <td>{{x.name}}</td>
            <td>{{x.country}}</td>
        </tr>
    </table>

    <h2>Custom filters</h2>
    <ul>
        <li ng-repeat="x in names">
            {{ x.name + " " + x.country | myFormat }}
        </li>
    </ul>

    <h1>Services</h1>

    <h2>Service to get actual url</h2>
    <h4 ng-bind="myUrl"></h4>

    <h2>Custom services (Convert to hexadecimal the number 255)</h2>
    <h4 ng-bind="hex"></h4>

    <h1>$http</h1>

    <h2>Getting content from other file</h2>
    <h4>{{ myWelcome }}</h4>

    <h2>Retrieving data from JASON</h2>
    <ul>
        <li ng-repeat="x in myData">
            {{ x.Name + " " + x.Country }}
        </li>
    </ul>

    <h1>Conditions (ng-ig)</h1>
    <table>
        <tr ng-repeat="x in names">
            <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ x.name }}
            </td>
            <td ng-if="$even">
                {{ x.name }}
            </td>
            <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ x.country }}
            </td>
            <td ng-if="$even">
                {{ x.country }}
            </td>
        </tr>
    </table>

    <h1>Filling Select Box</h1>
    <select ng-model="selectedName" ng-options="x.name for x in names"></select>
    <h5>You selected: {{selectedName.name}}</h5>

    <h1>DOM Samples</h1>

    <h2>Disabled (ng-disabled)</h2>
    <p>
        <button ng-disabled="mySwitch">Click Me!</button>
        {{ "Diabled = " + mySwitch }}
    </p>
    <p>
        <input type="checkbox" ng-model="mySwitch">Button
    </p>
    
    <h2>Show/Hide (ng-show/ng-hide)</h2>
    <p ng-show="true">I am visible.</p>
    <p ng-show="false">I am invisible.</p>
    <p ng-hide="true">I am not visible.</p>
    <p ng-hide="false">I am visible.</p>

    <h1>Events</h1>
    <!--           
        ng-blur
        ng-change
        ng-click
        ng-copy
        ng-cut
        ng-dblclick
        ng-focus
        ng-keydown
        ng-keypress
        ng-keyup
        ng-mousedown
        ng-mouseenter
        ng-mouseleave
        ng-mousemove
        ng-mouseover
        ng-mouseup
        ng-paste
    -->
    <h2 ng-mousemove="count = count + 1">Mouse over me!</h2>
    <button ng-click="count = count + 1">Click me!</button>
    <h4>{{ "Counter: " + count }}</h4>

    <h2>Toggle</h2>
    <button ng-click="myFunc()">Click Me!</button>
    <div ng-show="showMe">
        <h5>Menu:</h5>
        <div>Pizza</div>
        <div>Pasta</div>
        <div>Pesce</div>
    </div>

    <h1>Forms</h1>

    <h2>Reset form</h2>
    <form novalidate>
        First Name:<br>
        <input type="text" ng-model="user.firstName"><br>
        Last Name:<br>
        <input type="text" ng-model="user.lastName">
        <br><br>
        <button ng-click="reset()">RESET</button>
    </form>
    <p>form = {{user}}</p>
    <p>master = {{master}}</p>

    <h2>Form Validation</h2>
    <form name="myForm">
        <input name="myInput" ng-model="myInput" required>
        <input type="email" name="myInput" ng-model="myInput">
        <p>
            Name (required with form and inputs states):
            <input name="myName" ng-model="myName" required>
            <span ng-show="myForm.myName.$touched && myForm.myName.$invalid">The name is required.</span>
        </p>
    </form>

    <p>The input's valid state is:</p>
    <h4>{{myForm.myInput.$valid}}</h4>
    
</body>
</html>
